.wrapper {
	max-width: 50%;
	margin: 20px auto;
}

p {
	margin-bottom: 15px;
}

form {
	margin-bottom: 20px;
	text-align: left;
	padding: 0 50px;
}

ol {
	text-align: left;
}

h1 {
	margin-bottom: 15px;
}