// Colors
// --------------------

$light-grey: #f5f5f5;
$greyish-brown: #3f3f3f;
$dark-khaki: #9d8d59;
$white: #ffffff;
$black: #000000;
$black-text: #333333;
$sea: #338480;
$white-two: #d8d8d8;


// Breakpoints
// ---------------------

//for min-width:
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// fot max-width:
$up-to-sm: 575px;
$up-to-md: 767px;
$up-to-lg: 991px;
$up-to-xl: 1199px;